.textArticle {
    overflow-y: hidden;
    padding-bottom: 50px;
    resize: none;
}
.formArtilceEdit{
    border-radius: 0;
}
.labelArticle{
    margin-bottom: 5px;
}
.formsArticleEdit{
    margin-bottom: 15px;   
}
.imgClip{
    position: relative;
    bottom: 40px;
    left: 15px;
}
.imgSave{
    position: relative;
    bottom: 40px;
    left: 92%;
}