.textArticle {
    overflow-y: hidden;
    padding-bottom: 50px;
    resize: none;
}
.formArtilceEdit{
    border-radius: 0;
}
.labelArticle{
    margin-bottom: 5px;
}
.formsArticleEdit{
    margin-bottom: 15px;   
}
.imgClip{
    position: absolute;
    margin-top: -35px;
    margin-left: 15px;
}
.imgSave{
    position: absolute;
    margin-top: -35px;
    margin-left: 880px;
}