.dropBut{
    height: 100%;
    width: 100%;
    background-color: #EDEFFD;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    color: #363949;
}

.dropBut > .dropdown-toggle, .dropBut > .dropdown-toggle:disabled{
    background-color: #EDEFFD;
    border: 0;
}
.dropBut > .dropdown-menu{
    margin-left: -200px;
}
.dropBut > .dropdown-toggle:active{
    background-color: #EDEFFD;
}
/* Убрать
.ikDrop{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.dropMenuBut{
    margin-top: 60px;
    width: 250px;
    background-color: #EDEFFD;
}
*/
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating){
    border-radius: 10px;
}
.inputDropBut{
    background-color: #EDEFFD;
    border: 0;
    max-width: 200px;
}
.ikDrop.rotate {
    transform: rotate(180deg); 
}

.inputDropBut:focus,
.inputDropBut:active
 {
  box-shadow: none !important;
  background-color: #EDEFFD;
}
.inputDropBut::placeholder{
    color: #363949;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
